<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Express Project</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- assets does not need to be used as ASSETS IS UNDER THE ROOT FOLDER , / - MEANS ROOT FOLDER -->
</head>


<body>
    
    <!-- NAVBAR -->
    <%- include('../partials/navbar') %>
    
    
    <%- body %>


    <!-- FOOTER -->
    <%- include('../partials/footer')%>



                                            
    <!--
    
    <div class="top-header">
        
       
        <div class="header-logo">
            <a href="/">
                <img src="../images/logo.png" alt="HOME_LOGO" width ="96px"  height="89px" style="border-radius: 9999px;" >
            </a>
        </div>

        <div>
            <div style="text-align: center; color: #FE6600; font-size: 24px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">THE INDIAN KITCHEN </div>
            
        </div>

        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
        
        <h1 class="text-3xl font-bold text-blue-600">Hello, Tailwind!</h1>
        
        
        
        
        
        
    </div>

    <div style="width: 1440px; height: 142px; background: #3E3B38"></div>
    <div style="width: 142px; height: 0px; transform: rotate(89.82deg); transform-origin: 0 0; background: #D9D9D9; border: 10px white solid"></div>
    <div style="width: 160px; height: 31px; text-align: center; color: white; font-size: 20px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">GROUP DINING</div>
    <img style="width: 96px; height: 89px; border-radius: 9999px" src="https://via.placeholder.com/96x89" />
    <div style="text-align: center; color: #FE6600; font-size: 24px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">THE INDIAN KITCHEN </div>
    <div style="width: 101px; height: 31px; text-align: center; color: white; font-size: 20px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">MENUS</div>
    <div style="width: 152px; height: 31px; text-align: center; color: white; font-size: 20px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">ORDER ONLINE</div>
    <div style="width: 101px; height: 31px; text-align: center; color: white; font-size: 20px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">RESERVE</div>
    <div style="width: 225px; height: 20px; text-align: center; color: #5FBF2F; font-size: 16px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">SIMPLY TRADITIONAL</div>
    <div style="width: 134px; height: 64px; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #AD343E; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: right; color: white; font-size: 16px; font-family: DM Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">LOG IN </div>
    </div>
    <div style="width: 135px; height: 64px; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #AD343E; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: right; color: white; font-size: 16px; font-family: DM Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">SIGN UP</div>
    </div>
    
    <h1>Test</h1>
    -->

    
</body>

</html>