<!-- HERO SECTION-->
<!-- <div class="relative isolate px-6 pt-14 lg:px-8"  style="background-image: url(/images/hero_sections/gravy_chicken1.jpg); "> -->
  <div class="relative isolate px-6 pt-14 lg:px-8 bg-cover bg-center md:bg-cover"  style="background-image: url(/images/hero_sections/gravy_chicken1.jpg); ">
    
    <!-- overflow avoids buttons -->
    <!-- 
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
          <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
      -->
      
      <!-- Main Hero Container --> <!-- TODO : TRY ADDING LEFT AND RIGHT ARROW BUTTONS WHICH SHOW THE NEXT IMAGE-->
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56" >
          <!--
              <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                  <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                      Announcing our next round of funding. <a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
                    </div>
              </div>
          -->
        <div class="text-center">
          <h1 class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl ">Authentic Traditional Recipes</h1>
          <p class="mt-8 text-4xl font-medium text-pretty text-white sm:text-xl/8">From our kitchen to your table</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-orange-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">View Our Menus</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  <!-- OFFER CARDS SECTION-->
  <!-- TODO : MAKE CARD TITLE BOLD , ALIGN CENTRE-->
  
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 text-center">We Offer</h2>
  
      <!-- cards -->
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <img src="/images/cards/home_page/appetizers.jpg" alt="Front of men&#039;s Basic Tee in black." class=" *:aspect-square w-full rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm font-bold text-gray-700 text-center">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0 "></span>
                  Appetizers
                </a>
              </h3>
              <p class="text-center mt-1 text-sm text-gray-500">Start your meal with our delicious small plates, crafted to excite your taste buds.</p>
            </div>
            <!--
              <p class="text-sm font-medium text-gray-900">$35</p>
            -->
          </div>
        </div>
  
        <div class="group relative">
          <img src="/images/cards/home_page/main_course.jpg" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div class="text-center">
              <h3 class="text-sm font-bold text-gray-700 text-center">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0 text-center"></span>
                  Main Course
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">Savor hearty and flavorful entrees made with fresh, high-quality ingredients.</p>
            </div>
            <!--
              <p class="text-sm font-medium text-gray-900">$35</p>
            -->
          </div>
        </div>

        <div class="group relative">
          <img src="/images/cards/home_page/gulab_jamun.jpg" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div class="text-center">
              <h3 class="text-sm font-bold text-gray-700 text-center">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0 text-center"></span>
                  Desserts
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">Indulge in our sweet and decadent treats, the perfect way to end your meal.</p>
            </div>
            <!--
              <p class="text-sm font-medium text-gray-900">$35</p>
            -->
          </div>
        </div>

        <div class="group relative">
          <img src="/images/cards/home_page/mealkits.jpg" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div class="text-center">
              <h3 class="text-sm font-bold text-gray-700 text-center">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0 text-center"></span>
                  Meals
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">Bring exceptional dining experience to your doorstep. Also accepting orders online.</p>
            </div>
            <!--
              <p class="text-sm font-medium text-gray-900">$35</p>
            -->
          </div>
        </div>
  

  

        
        <!-- More products... -->
         
      </div>
    </div>
  </div>

