<!-- TODO : 1. FIX CSS FOR MOBILE -->
<div class="flex border-2 sm:hidden border-black p-4">
    <!-- Image on the left -->
    <div class="w-1/2 h-full pr-4">
        <img src="/images/hero_sections/login_hero2.jpg" alt="Image" class="w-full h-auto rounded-md">
    </div>

    <!-- Log in form on the right -->
    <div class="w-1/2 text-black p-6   ">
        <h2 class="text-2xl font-semibold mb-4 text-center mt-10">LOG IN</h2>
        <form action="#" method="POST" class="border-2 px-6 py-10 rounded-3xl ml-30 mr-30">
            

            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium py-2">Email</label>
                <input type="email" id="email" name="email" required class="w-full p-2 bg-gray-100 border border-gray-300 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-orange-400">
            </div>

            <!-- Password -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium py-2">Password</label>
                <input type="password" id="password" name="password" required class="w-full p-2 bg-gray-100 border border-gray-300 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-orange-400">
            </div>

            <!-- Radio Buttons: Customer or Restaurant Employee -->
            <div class="mb-4">
                <label class="block">
                    <input type="radio" name="userType" value="customer" class="mr-2">
                    Customer
                </label>
                <label class="block mt-2">
                    <input type="radio" name="userType" value="restaurant-employee" class="mr-2">
                    Restaurant Employee
                </label>
            </div>

            
            <!-- Log In button -->
            <button type="submit" class="w-full py-2 bg-orange-500 text-white rounded-md font-semibold hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-400">Log In</button>
            
            <!-- Already have an account -->
            <p class="mt-4 text-center text-LG font-bold">
                <a href="#" class="text-orange-500 hover:underline">Forgot Your Password ?</a>
            </p>
        </form>

        
    </div>
</div>

<!--------------------------------------------------------------------------------------------->



<!--------------------------------------------------------------------------------------------->

<div class="relative isolate px-6  lg:px-8 bg-cover bg-center md:bg-cover"  style="background-image: url(/images/hero_sections/success_hero.jpg); ">
    
    

    <!-- Log in form on the right -->
    <div class="w-1/2 text-black p-6 ">
        <h2 class="text-2xl font-semibold mb-10 text-center mt-10 text-white">LOG IN</h2>
        <form action="#" method="POST" class="border-2 px-6 py-15 rounded-3xl ml-30 mr-30 bg-white mb-10">
            
            
            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium py-2">Email</label>
                <input type="email" id="email" name="email" required class="w-full p-2 bg-gray-100 border border-gray-300 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-orange-400">
            </div>
            
            <!-- Password -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium py-2">Password</label>
                <input type="password" id="password" name="password" required class="w-full p-2 bg-gray-100 border border-gray-300 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-orange-400">
            </div>
            
            <!-- Radio Buttons: Customer or Restaurant Employee -->
            <div class="mb-4">
                <label class="block">
                    <input type="radio" name="userType" value="customer" class="mr-2">
                    Customer
                </label>
                <label class="block mt-2">
                    <input type="radio" name="userType" value="restaurant-employee" class="mr-2">
                    Restaurant Employee
                </label>
            </div>
            
            
            <!-- Log In button -->
            <button type="submit" class="w-full py-2 bg-orange-500 text-white rounded-md font-semibold hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-400">Log In</button>
            
            <!-- Already have an account -->
            <p class="mt-4 text-center text-LG font-bold">
                <a href="#" class="text-orange-500 hover:underline">Forgot Your Password ?</a>
            </p>
        </form>
        
        
    </div>

    <div style="position: absolute; top: 0; right: 0; bottom: 0; width: 50%; background-color: rgba(0, 0, 0, 0.5); z-index: 0;"></div>

    
</div>

<!------------------------------------------>

<!--------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------->


    
<!------------------------------------------>

    
    