<div class="relative isolate px-6 pt-14 lg:px-8 bg-cover bg-center md:bg-cover"  style="background-image: url(/images/hero_sections/success_hero.jpg); ">

    <!-- Main Hero Container --> <!-- TODO : TRY ADDING LEFT AND RIGHT ARROW BUTTONS WHICH SHOW THE NEXT IMAGE-->
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56" >

        <div class="text-center">
          <h1 class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-4xl ">SUCCESS</h1>
          
          <!-- todo : session user name-->
          <hr class="border-t border-gray-50 my-4">
          
          
          <h1 class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl ">Employee : <%= user.firstName %> <br> <%= message %> </h1>


          
          <hr class="border-t border-gray-50 my-4">

          
          <div class="flex justify-evenly gap-10 mt-5">
            <div class="flex items-center justify-center gap-x-6">
              <a href="#" class="rounded-full w-32 bg-orange-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Menus</a>
            </div>
            
            <div class="flex items-center justify-center gap-x-6">
              <a href="/load-data/meals" class="rounded-full w-32 bg-orange-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Load Data</a>
            </div>
            
            <div class="flex items-center justify-center gap-x-6">
              <a href="#" class="rounded-full w-32 bg-orange-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-orange-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Make A Reservation</a>
            </div>
            
          </div>


          
        </div>


        
      </div>
      
       
</div>
        